# Ignore environment files
backEnd/.env
frontEnd/.env

# Ignore node_modules directories
backEnd/node_modules/
frontEnd/node_modules/

# Ignore lock files
backEnd/package-lock.json
frontEnd/package-lock.json

# Ignore logs and temporary files (optional)
*.log
